*, 
html, 
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    background-image: url("images/bridge.jpeg");
    background-size: cover;
    background-position: top;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
}

.memory-game {
    width: 80%;
    background: rgb(12, 0, 103, .5);
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.62);
}

.memory-card {
    margin: 10px;
    border-radius: 10px;
    border-collapse: separate;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    /* -webkit-box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.62); */
}

.front-face, 
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.button {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 20px;
}

button {
    background-color: white;
    border-radius: 20px;
    color: rgb(12, 0, 103, .5));
    font-size: 1rem;
    width: 100px;
    height: 30px;
}

#myCounter {
    color: white;
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
}

/* card flipping */
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face {
    transform: rotateY(180deg);
}


/* media queries for phones and tablets*/
/* portrait */
@media only screen and (min-device-width: 320px) and (orientation: portrait) {
    h1 {
        font-size: 1.25rem;
        padding: 20px;
    }

    .memory-card {
        width: 4rem;
        height: 4rem;
    }
}

@media only screen and (min-device-width: 375px) and (orientation: portrait) {
    h1 {
        font-size: 1.5rem;
        padding: 20px;
    }

    .memory-card {
        width: 4.5rem;
        height: 4.5rem;
    }
}

@media only screen and (min-device-width: 411px) and (orientation: portrait) {
    h1 {
        font-size: 1.5rem;
        padding: 20px;
    }

    .memory-card {
        width: 5rem;
        height: 5rem;
    }
}

@media only screen and (min-device-width: 414px) and (orientation: portrait) {
    h1 {
        font-size: 1.5rem;
        padding: 20px;
    }

    .memory-card {
        width: 5.25rem;
        height: 5.25rem;
    }
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) {
    h1 {
        font-size: 2rem;
        padding: 40px 20px 40px 20px;
    }

    .memory-game {
        width: 85%;
    }

    .memory-card {
        width: 7.5rem;
        height: 7.5rem;
    }

    .button {
        width: 85%;
    }

    button {
        width: 130px;
        height: 40px;
        font-size: 1.5rem;
    }

    #myCounter {
        font-size: 1.5rem;
    }
}

@media only screen and (min-device-width: 1024px) and (orientation: portrait) {
    h1 {
        font-size: 3rem;
        padding: 40px 20px 40px 20px;
    }

    .memory-game {
        width: 85%;
    }

    .memory-card {
        width: 10.5rem;
        height: 10.5rem;
    }

    .button {
        width: 85%;
    }

    button {
        width: 200px;
        height: 50px;
        font-size: 2rem;
    }

    #myCounter {
        font-size: 3rem;
    }
}


/* landscape */
@media only screen and (min-device-width: 568px) and (orientation: landscape) {
    h1 {
        font-size: 1.5rem;
        padding: 20px 10px 10px 10px;
    }

    .memory-game {
        width: 85%;
    }

    .memory-card {
        width: 3.5rem;
        height: 3.5rem;
    }

    .button {
        padding: 10px;
    }
}

@media only screen and (min-device-width: 640px) and (orientation: landscape) {
    h1 {
        font-size: 1.5rem;
        padding: 20px 10px 10px 10px;
    }

    .memory-game {
        width: 85%;
    }

    .memory-card {
        width: 4rem;
        height: 4rem;
    }
}

@media only screen and (min-device-width: 731px) and (orientation: landscape) {
    h1 {
        font-size: 1.75rem;
        padding: 20px 10px 10px 10px;
    }

    .memory-game {
        width: 85%;
    }

    .memory-card {
        width: 4.5rem;
        height: 4.5rem;
    }
}

@media only screen and (min-device-width: 812px) and (orientation: landscape) {
    h1 {
        font-size: 1.75rem;
        padding: 20px 10px 10px 10px;
    }

    .memory-game {
        width: 85%;
    }

    .memory-card {
        width: 5rem;
        height: 5rem;
    }

    .button {
        width: 85%;
        padding: 10px;
    }

    button {
        font-size: 1.25rem;
        width: 125px;
        height: 40px;
    }

    #myCounter {
        font-size: 1.75rem;
    }
}

@media only screen and (min-device-width: 1024px) and (orientation: landscape) {
    h1 {
        font-size: 2rem;
        padding: 20px 20px 30px 20px;
    }

    .memory-game {
        width: 50%;
    }

    .memory-card {
        width: 6rem;
        height: 6rem;
    }

    .button {
        width: 50%;
    }

    button {
        font-size: 1.5rem;
        width: 150px;
        height: 40px;
    }

    #myCounter {
        font-size: 2rem;
        margin: 40px;
    }
}

@media only screen and (min-device-width: 1280px) and (orientation: landscape) {
    h1 {
        font-size: 2.25rem;
        padding: 30px 20px 30px 20px;
    }

    .memory-card {
        width: 7rem;
        height: 7rem;
    }
}

@media only screen and (min-device-width: 1366px) and (orientation: landscape) {
    h1 {
        font-size: 2.5rem;
        padding: 20px 20px 40px 20px;
    }

    .memory-game {
        width: 50%;
    }

    .memory-card {
        width: 9rem;
        height: 9rem;
    }

    .button {
        padding: 30px;
        width: 50%;
    }

    button {
        font-size: 1.75rem;
    }

    #myCounter {
        font-size: 2.5rem;
    }
}

@media only screen and (min-device-width: 1600px) {
    h1 {

    }
}

@media only screen and (min-device-width: 1920px) {
    h1 {
        font-size: 3.5rem;
        padding: 40px 20px 40px 20px;
    }

    .memory-card {
        width: 11rem;
        height: 11rem;
    }

    .button {
        padding: 40px;
    }

    button {
        font-size: 2rem;
        width: 175px;
        height: 50px;
    }

    #myCounter {
        font-size: 3rem;
    }
}